@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
CB PRIMARY COLOR
*/
.cbMode .bg-primary {
  background-color: #1f78b4;
}

.cbMode .text-text {
  color: #000000;
}
/* 
CB Secondary COLOR
*/
.cbMode .bg-secondary {
  background-color: #33a02c
}

.cbMode .bg-accent {
  background-color: #ff7f00;
}

.cbMode .bg-background{
 background-color: #f7f7f7;
}
.cbMode .bg-third {
  background-color: #ff7f00;
}

.cbMode {
  background-color: #1f78b4;
  color: #000;
}
.cbMode .text-error {
  color: #1f78b4;
}
.cbMode .bg-error {
  background-color: #ff7f00;
}
.cbMode .bg-neutral {
  background-color: #ff7f00;
}
.cbMode .border-error {
  background-color: #ff7f00;
}

.cbMode .bg-radial-custom {
  background: radial-gradient(125% 125% at 50% 10%, #F1C232 0%, #1E90FF 50%, #2F4F4F 100%);


}

.bg-radial-custom {
  background: radial-gradient(125% 125% at 50% 10%, #daa520 0%, #ff4500 50%, #2f4f4f 100%);

}
#app {
  background-color: radial-gradient(125% 125% at 50% 10%, #000000 40%, #000066 100%);
}

.bg-starfield-light {
  background-image: url("https://i.imgur.com/DeaAAKn.gif");
  /* background-size: auto; */
  background-repeat: repeat;
  /* background-position: center; */
  /* width: 100%;
  height: 100vh; */
  filter: none;
  transition: filter 0.3s ease;
}

.cbMode .bg-starfield-light {
  filter: invert(0.75);
}

.cbMode .bg-fifth {
  background-color: #0F52BA !important;
}

.darkMode .text-text {
  color: #FFFFFF;
}

